body {
	background-color: grey;
}

h1 {
	font-family: Tahoma, bold;
	text-align: center;
	font-size: 50px;
}

a {
	text-decoration: none;
	color: orange;
}

#cash {
	max-width: 1000px;
	margin: 0 auto;
}

img {
	height: 100px;
	width: 100px;
}

#timeline {
	max-width: 1000px;
	margin: 0 auto;
	font-family: Helvetica, bold;
	font-size: 30px;
	text-align: center;
}

#year1 {
	color: red;
}

#year2 {
	color: orange;
}

#year3 {
	color: yellow;
}

#year4 {
	color: #2eddc0;
}

#year5 {
	color: #24e231;
}

#year6 {
	color: #18c4db;
}

#year7 {
	color: blue;
}

#year8 {
	color: #a51dd6;
}

#year9 {
	color: #731ab2;
}

#year10 {
	color: magenta;
}

#states {
	position: absolute;
	top: 350px;
	left: 200px;
	font-family: Helvetica;
	font-size: 35px;
	text-align: center;
}

.year1:hover {
	color: red;
}

.year2:hover {
	color: orange;
}

.year3:hover {
	color: yellow;
}

.year4:hover {
	color: #2eddc0;
}

.year5:hover {
	color: #24e231;
}

.year6:hover {
	color: #18c4db;
}

.year7:hover {
	color: blue;
}

.year8:hover {
	color: #a51dd6;
}

.year9:hover {
	color: #731ab2;
}

.year10:hover {
	color: magenta;
}