body {
	background-color: grey;
}

h1 {
	font-family: Tahoma, bold;
	font-size: ;
	position: center;
}

a {
	text-decoration: none;
}

#cash {
	display: inline-block;
	position: center;
}

.quarter{
	size: ;
}

#timeline {
	position: center;
	font-family: Helvetica, bold;
	font-size: ;
}

#states {
	font-family: Helvetica
	font-size: ;
}